body{

    background:#f2f4f8;

}

.card{

    transition:0.3s;

    border-radius:15px;

}

.card:hover{

    transform:translateY(-8px);

    box-shadow:0 10px 25px rgba(0,0,0,0.2);

}

.card img{

    height:220px;

    object-fit:contain;

    padding:15px;

}

.card-title{

    font-size:20px;

    font-weight:bold;

}

.price{

    color:green;

    font-size:22px;

    font-weight:bold;

}

.rating{

    color:orange;

    font-weight:bold;

}

.badge{

    padding:12px;

}

input{

    height:50px;

}